<script lang=ts>
    import { Room } from 'livekit-client';

    // import pkg from 'livekit-client';
    // const { Room } = pkg;

// creates a new room with options
const room = new Room();
</script>

<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
